page-sobre {
    ion-row {
        align-items: center;
    }

    h3{
        text-align: justify;
    }

    p{
        text-align: justify;
    }

    .img-col{
        align-items: center;
        text-align: center; 
    }

}
